<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add miniature</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/static/custom.css" >
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>


    <div class="topmenu">
        <p class="navbar-right logout">
            Signed in as: {{ request.user.username }}
            <a class="menuspace" href="{% url 'main' %}">Home</a>
            <a class="menuspace" href="{% url 'site-logout' %}?next=/">LOGOUT</a>
        </p>
    </div>
    <div class="base-headline-title">
        <h3>
            {% block title %}{% endblock %}
        </h3>
    </div>

    <div class="content-block">
        {% block content %}
        {% endblock %}
    </div>

    {% bootstrap_javascript %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    {% block content_js %}
    {% endblock %}
</body>
</html>
