{% extends 'minis/base.html' %}

{% block title %}
    Your awesome miniatures
{% endblock %}

{% block content %}
    {% for system in systems %}
        <div class="panel panel-default">
            <div class="panel-heading"><strong>{{ system.name }}</strong></div>
            <div class="panel-body">
                <ul>
                {% for army in system.army_set.all %}
                    <li><strong>{{ army.name }}</strong>
                        <ul>
                        {% for miniature in army.miniature_set.all %}
                            {% if miniature in user_miniatures %}
                            <li>
                                <a href="{% url 'mini-colors' miniature.id %}">{{ miniature.name }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
    <a class='btn btn-primary' href="{% url 'add-mini' %}">Add mini!</a>
{% endblock %}
