{% extends 'minis/base.html' %}

{% block title %}
    Your awesome miniatures
{% endblock %}

{% block content %}
    <style> ul { border: 1px solid black; } </style>
    System:
    <ul>
        {% for system in systems %}
            <li>
                {{ system.name }}
                <ul>
                {% for army in system.army_set.all %}
                    <li>{{ army.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}