{% extends 'minis/base.html' %}

{% block title %}
    Your colors!
{% endblock %}
{% block content %}
    {% csrf_token %}
    <input type="hidden" id="miniature-id" value="{{ miniature.id }}">
    <div class="panel panel-success">
        <div class="panel-heading">
            Colors for <strong>{{ miniature.name }}</strong>
        </div>
        <div class="panel-body">
            System: <strong>{{ miniature.army.system.name }}</strong> <br>
            Army: <strong>{{ miniature.army.name }}</strong> <br>
            Image: <img src='{{ miniature.mini_image.url }}'>
        </div>
    </div>
    <ul class="list-group">
        {% for id, name, paints in el_type %}
            <li class="list-group-item">{{ name }}
            <br>
            {% for paint in paints %}
                <select>
                    <option value=""></option>
                    {% for p_m in manufacturers %}
                        <option disabled>{{ p_m.manufacturer }}</option>
                        {% for p in p_m.paints %}
                            <option value="{{ p.id }}" {% if p.id == paint.id %}selected{% endif %}>{{ p.name }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            {% endfor %}
            </li>
        {% endfor %}
    </ul>

    <textarea id="comment">{{ miniature.comment }}</textarea>

<button id="save">Save</button>
<div id="save-message"></div>
<script type="text/javascript" src="/static/bnt.js"></script>
</div>
{% endblock %}
